* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  padding: 10px;
  /* border: 4px solid indianred; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.parent span {
  /* border: 4px solid cadetblue; */
  background-color: cadetblue;
  /* flex-shrink: 0; */
  /* width: 200px;
  height: 300px; */
  /* flex-grow: 1; */
}

.parent p {
  /* border: 4px solid darkkhaki; */
  background-color: darkkhaki;
  margin: 0;
  /* flex-shrink: 0; */
  width: 400px;
  /* width: max-content; */
  /* width: min-content; */
}

.parent a {
  /* border:  4px solid yellowgreen; */
  background-color: yellowgreen;
  width: 400px;
  flex-shrink: 0;
}