body {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#contact a {
  /* color: lime; */
  margin: 10px;
}

#contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f0db63;
}

#icon {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0, 0, 0);
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px rgb(7, 7, 88);
}

#contact {
  font-size: 14px;
}
